<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'control_panel' %}">Control Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="btn nav-link dropdown-toggle {% if 'admin/protfolio/about' in request.path %} active {% endif %}"
                       href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bx bx-area bx-lg"></i> Admin Manage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'admin:protfolio_about_changelist' %}">About</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin:protfolio_education_changelist' %}">Educations</a></li>
                         <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin:protfolio_workexperience_changelist' %}">Work Experiences</a></li>
                         <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin:protfolio_skills_changelist' %}">Professional Skills</a></li>
                         <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin:protfolio_references_changelist' %}">References</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'message_list' in request.path %} active {% endif %}"
                       href="{% url 'message_list' %}">Messages</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;
                <a class="btn btn-danger" href="{% url 'logout' %} ">Logout</a>
            </form>
        </div>
    </div>
</nav>
<style>
    .navbar-toggler {
        padding: 0.25rem 3.75rem;

    }
    .dropdown-menu{
        background: honeydew;
    }
</style>