{% extends "main.html" %}
{% load static %}
{% block content %}
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
            </div>
            <div class="card p-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4" data-aos="fade-right">
                            {% if  about.about_body_image %}
                                <img src="{{ about.about_body_image.url }}" class="img-fluid" alt="">
                            {% else %}
                                <img src="{% static 'assets/img/foraml_pic.jpg' %}" class="img-fluid" alt="">
                            {% endif %}
                        </div>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <h3>
                                {% if work_ex_position.position %}
                                    {{ work_ex_position.position }} <span
                                        class="text-muted h6"> at {{ work_ex_position.company_name }}</span>
                                {% else %}
                                    Please add a work experience!
                                {% endif %}
                            </h3>
                            <p class="fst-italic">
                                {{ about.short_about }}
                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Experiences:</strong>
                                            <span>{{ about.years_of_experience }}</span>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Date of Birth:</strong>
                                            <span>{{ about.general.dob | date:'d M, Y' }}</span>
                                        </li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                            <span>{{ about.general.phone }}</span>
                                        </li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Address</strong>
                                            <span>{{ about.general.address }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Total Completed
                                            Projects:</strong>
                                            <span>{{ about.total_completion_projects }}</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Highest Degree:</strong>
                                            <span>{{ about.highest_degree }}</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                            <span>{{ about.general.email }}</span>
                                        </li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                            <span>{{ about.general.freelance }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <h5 style="color: #0a53b7">Career Objectives</h5>
                                <div class="text-justify">
                                    {% autoescape off %}
                                        {{ about.career_objectives }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="section" id="skills">
                <div class="section-title">
                    <h2>Professional Skills</h2>
                </div>
                <div class="card p-2">
                    <div class="card-body">
                        <div class="row">
                            {% for skills_cate in skills_all %}
                                <div class="col-md-6 mb-4">
                                    <h5 style="color: #6b3603">{{ skills_cate.category_name }}</h5>
                                    {% for skill in skills_cate.skills %}
                                        <div class="mb-3" style="margin-left: 1rem">
                                            <span class="fw-bolder">{{ skill.title }}</span>
                                            <div class="progress my-2 rounded" style="height: 20px">
                                                <div class="progress-bar {{ skill.bootstrap_bg }}"
                                                     role="progressbar"
                                                     data-aos="zoom-in-right"
                                                     data-aos-delay="100" data-aos-anchor=".skills-section"
                                                     style="width: {{ skill.level_value }}%;"
                                                     aria-valuenow="{{ skill.level_value }}" aria-valuemin="0"
                                                     aria-valuemax="100">{{ skill.level }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}