{% extends "main.html" %}
{% block content %}
    {% if messages %}
        <ul class="messages" id="mydiv">
            {% for message in messages %}
                <div
                        {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>{{ general.name }}</h1>
            {% if general.i_am %}
                <p>I'm <span class="typed" data-typed-items="{{ general.i_am }}"></span></p>
            {% endif %}
        </div>
    </section>

    <script>
        setTimeout(function () {
            $('#mydiv').fadeOut('fast');
        }, 5000); //

    </script>
    <style>
        #mydiv {
            background: #00ba44;
            color: #fff;
            text-align: center;
        }

        {% if general.hero_image_field %}
            #hero {
                background: url("{{ general.hero_image_field.url }}") top center !important;
                background-size: cover!important;
            }
        {% endif %}

    </style>
{% endblock %}