{% extends "main.html" %}
{% load static %}
{% block content %}

    <div class="login-box">
        <div class="text-center">
            <i class="bx bx-key" aria-hidden="true" style="color: #03e9f4;font-size: 8rem; margin-top: -50px"></i>
        </div>
        <h3>Administrative Login </h3>
        <form action="." method="post" id="myform">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <a href="#" onclick="document.getElementById('myform').submit()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
    </div>

<link href="{% static 'assets/customcss/loginform.css' %}" rel="stylesheet">

{% endblock %}