{% extends "main.html" %}
{% block content %}
    {% include "cNav.html" %}
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-title">
                <div class="text-center p-3">
                    <h4 class="text-decoration-underline">All Messages</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table table-responsive">
                    <table id="myTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for msg in message_all %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ msg.name }}</td>
                                <td>{{ msg.email }}</td>
                                <td>{{ msg.subject }}</td>
                                <td>
                                    <div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop{{ msg.id }}">
                                            Read
                                        </button>
                                        <a class="btn btn-danger btn-sm" role="button"
                                           href="{% url 'delete_message' msg.id %}">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            <!-- Scrollable modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{ msg.id }}" data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">{{ msg.subject }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <a class="btn-secondary btn-sm" style="cursor:text;">{{ msg.name }}</a>
                                            <a class="btn-warning btn-sm" style="cursor:text;">{{ msg.email }}</a>
                                            <div>
                                                {{ msg.message }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {#        <div class="card-footer">#}
            {#        #}
            {#        </div>#}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}